<!-- <h1>this is the main component</h1> -->

<router-outlet></router-outlet>
<!-- <div class="container">
    <div class="d-flex justify-content-center mt-5 ">
      <a routerLink="/registration" class="bg-warning text-secondary p-2 px-2">Registration Forms</a>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-outline-primary" routerLink="/emp-list">
        Employee Details
      </button>
    </div>
    <div class="main-body mt-5">
      <router-outlet></router-outlet>
    </div>
  </div> -->